shamefully-hoist=true
strict-peer-dependencies=false
side-effects-cache=false
registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist # node-gyp 编译依赖的 node 源码镜像
## 以下选择添加
sass_binary_site=https://npmmirror.com/mirrors/node-sass # node-sass 二进制包镜像
electron_mirror=https://npmmirror.com/mirrors/electron/ # electron 二进制包镜像
puppeteer_download_host=https://npmmirror.com/mirrors # puppeteer 二进制包镜像
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver # chromedriver 二进制包镜像
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver # operadriver 二进制包镜像
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs # phantomjs 二进制包镜像
elenium_cdnurl=https://npmmirror.com/mirrors/selenium # selenium 二进制包镜像
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector # nod

electron-builder-binaries-node-gyp-revision=10.2.0